@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*first exercise*/
*{
    margin: 0;
    padding: 0;
}
body{
    background: #292b37;
    font-family: Roboto, sans-serif;
}
.block-blue{
    background: #2f5fd7;
    border: 5px solid darkblue;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-block{
    border: 5px solid darkred;
    background: indianred;
    text-align: center;
    font-weight: bold;
    width: 100px;
    padding: 32px 0;
}
/*Second exercise*/
.header-first{
    background: #fcdab9;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 10px 20px;
}
.nav-first{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.list-first  a{
    color: #2f5fd7;
    text-decoration: none;
}
.list-first, .logo-first{
    list-style-type: none;
    padding: 8px 20px;
    background: white;
}
.logo-first{
    background: white;

}
.logo-first > a{
    font-size: 30px;
    color: indianred;
    font-weight: 900;
    text-decoration: none;
}
/*third exercise*/
.header-sec{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.left-side-nav, .right-side-nav, .nav-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}
.logo-sec{
    font-size: 40px;
    color: #663497;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}
.list-sec{
    list-style-type: none;
}
.list-sec > a{
    color: #663497;
    text-decoration: none;
}
.button-notification{
    color: white;
    background: #663497;
    padding: 4px 20px;
    border-radius: 8px;
}
.user-picture{
    width: 50px;
    padding: 25px 0;
    background: #663497;
    border-radius: 50%;
}
/*fourth exercise*/
.block-information{
    display: flex;
    flex-direction: column;
    background: #fabbbb;
    padding: 20px;
    gap: 30px;
}
.title{
    margin: 10px auto;
    font-size: 90px;
    letter-spacing: 10px;
}
.flower, img{
    width: 250px;
}
.content-of-information{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}
.flower .text{
    font-size: 30px;
    text-align: center;
}
/*fifth exercise*/
.block-do-this{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    padding: 15px;
    width: 500px;
    gap: 15px;
    border-radius: 10px;
}
.exclamation-mark{
    background: #e2e2f8;
    width: 41px;
    border-radius: 50%;
    text-align: center;
    padding: 2px 0;
    font-size: 30px;
    font-weight: bold;
    color: #2f5fd7;
    flex-shrink: 0;
}
.content-do-this{
    display: flex;
    flex-direction: column;
}

.question{
    font-size: 22px;
    font-weight: bolder;
}
.header-question{
    display: flex;
    justify-content: space-between;
}
.closed-button{
    width: 27px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #7d7d7d;
}
.closed-button:hover{
    background: #7d7d7d;
    color: #efefef;
    cursor: pointer;
}
.text-do-this{
    margin: 15px 15px 15px 0;
}
.cancel-button, .continue-button{
    border: #ebebeb 1px solid;
    background: white;
    border-radius: 8px;
    font-size: 16px;
    padding: 5px 10px;
    color: #2f5fd7;
}
.cancel-button:hover, .continue-button:hover{
    background: #2f5fd7;
    color: white;
    cursor: pointer;
}
.two-exersive-next-to{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}